<%= simple_form_for(@office) do |f| %>
  <% if @office.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@office.errors.count, "error") %> prohibited this office from being saved:</h2>

      <ul>
      <% @office.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-inputs">
    <%= f.input :name %>
  </div>
  <br />
  <div class="form-inputs">
    <%= f.input :currency %>
  </div>
  <br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
