<div class="page-header">
  <div class="row">
    <div class="col-md-12">
      <h2><%= t('offices.title') %></h2>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= t('offices.title') %></th>
        <th><%= t('offices.budget') %></th>
        <th><%= t('offices.current_margin') %></th>
        <th><%= t('offices.current_revenue') %></th>
        <th><%= t('offices.pipeline_margin') %></th>
        <th><%= t('offices.pipeline_revenue') %></th>
        <th><%= t('offices.estimated_margin') %></th>
        <th><%= t('offices.estimated_revenue') %></th>
      </tr>
    </thead>

    <tbody>
      <% @offices.each do |office| %>
        <tr>
          <td><%= link_to office.name, office_path(office) %></td>
          <td><%= number_to_currency(office_current_budget(office), unit: "", precision: 0, delimiter: " ") %></td>
          <td><%= number_to_currency(office_margin(office), unit: "", precision: 0, delimiter: " ") %></td>
          <td><%= number_to_currency(office_revenue(office), unit: "", precision: 0, delimiter: " ") %></td>
          <td><%= number_to_currency(office_pipeline_margin(office), unit: "", precision: 0, delimiter: " ") %></td>
          <td><%= number_to_currency(office_pipeline_revenue(office), unit: "", precision: 0, delimiter: " ") %></td>
          <td><%= number_to_currency(office_pipeline_margin(office) + office_margin(office), unit: "", precision: 0, delimiter: " ") %></td>
          <td><%= number_to_currency(office_pipeline_revenue(office) + office_revenue(office), unit: "", precision: 0, delimiter: " ") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>