<div class="page-header">
  <div class="row">
    <div class="col-md-12">
      <h2><%= @office.name %></h2>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Seller</th>
        <th>Budget</th>
        <th>Current margin</th>
        <th>Current revenue</th>
        <th>Margin in pipeline</th>
        <th>Revenue in pipeline</th>
        <th>Estimated margin</th>
        <th>Estimated revenue</th>
      </tr>
    </thead>

    <tbody>
      <% @office.users.each do |user| %>
        <tr>
          <td><%= empl(user) %></td>
          <td><%= number_to_currency(seller_current_budget(user), unit: "", precision: 0, delimiter: " ") %></td>
          <td><%= number_to_currency(user.sales.this_month.sum(:margin), unit: "", precision: 0, delimiter: " ") %></td>
          <td><%= number_to_currency(user.sales.this_month.sum(:revenue), unit: "", precision: 0, delimiter: " ") %></td>
          <td><%= number_to_currency(user.opportunities.this_month.sum(:total_margin), unit: "", precision: 0, delimiter: " ") %></td>
          <td><%= number_to_currency(user.opportunities.this_month.sum(:total_revenue), unit: "", precision: 0, delimiter: " ") %></td>
          <td><%= number_to_currency(user.opportunities.this_month.sum(:total_margin) + user.sales.this_month.sum(:margin), unit: "", precision: 0, delimiter: " ") %></td>
          <td><%= number_to_currency(user.opportunities.this_month.sum(:total_revenue) + user.sales.this_month.sum(:revenue), unit: "", precision: 0, delimiter: " ") %></td>
        </tr>
      <% end %>
      <tr>
        <td><strong>Total</strong></td>
        <td><strong><%= number_to_currency(office_current_budget(@office), unit: "", precision: 0, delimiter: " ") %></strong></td>
        <td><strong><%= number_to_currency(office_margin(@office), unit: "", precision: 0, delimiter: " ") %></strong></td>
        <td><strong><%= number_to_currency(office_revenue(@office), unit: "", precision: 0, delimiter: " ") %></strong></td>
        <td><strong><%= number_to_currency(office_pipeline_margin(@office), unit: "", precision: 0, delimiter: " ") %></strong></td>
        <td><strong><%= number_to_currency(office_pipeline_revenue(@office), unit: "", precision: 0, delimiter: " ") %></strong></td>
        <td><strong><%= number_to_currency(office_pipeline_margin(@office) + office_margin(@office), unit: "", precision: 0, delimiter: " ") %></strong></td>
        <td><strong><%= number_to_currency(office_pipeline_revenue(@office) + office_revenue(@office), unit: "", precision: 0, delimiter: " ") %></strong></td>
      </tr>
    </tbody>
  </table>
</div>
