<%= render 'menu' %>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Seller</th>
        <th>Client</th>
        <th>Date</th>
        <th>Margin</th>
        <th>Revenue</th>
        <th>State</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @sales.each do |sale| %>
        <tr>
          <td><%= sale.id %></td>
          <td><%= empl(sale.user) %></td>
          <td><%= client(sale.client) %></td>
          <td><%= sale_date(sale) %></td>
          <td><%= currency(sale.margin) %></td>
          <td><%= currency(sale.revenue) %></td>
          <td><%= show_state(sale) %></td>
          <td>
            <% if !sale.state %>
              <%= simple_form_for(sale, html: { class: "inline-block"}) do |f| %>
                <%= f.hidden_field :state, :value => "Approved" %>
                <%= f.submit "Approve", :class => "btn btn-primary btn-xs" %>
              <% end %>
              <%= simple_form_for(sale, html: { class: "inline-block"}) do |f| %>
                <%= f.hidden_field :state, :value => "Declined" %>
                <%= f.submit "Decline", :class => "btn btn-danger btn-xs" %>
              <% end %>
            <% elsif sale.state == "Declined" %>
              <%= simple_form_for(sale, html: { class: "inline-block"}) do |f| %>
                <%= f.hidden_field :state, :value => "Approved" %>
                <%= f.submit "Approve", :class => "btn btn-primary btn-xs" %>
              <% end %>
            <% elsif sale.state == "Approved" %>
              <a href="#" class="btn btn-success btn-xs">Add payment</a>
              <%= simple_form_for(sale, html: { class: "inline-block"}) do |f| %>
                <%= f.hidden_field :state, :value => "Declined" %>
                <%= f.submit "Decline", :class => "btn btn-danger btn-xs" %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>