<h1>Listing budgets</h1>
  <%= form_tag(budgets_path, :method => "get", id: "search-form") do %>
    <%= select_tag :search, options_for_select([ 
      "January", 
      "February", 
      "March", 
      "April", 
      "May", 
      "June",
      "July",
      "August",
      "September",
      "October",
      "November",
      "December"
      ], (params[:search] or Time.now.strftime("%B"))) %>
    <%= submit_tag "Search" %>
  <% end %>

<table>
  <thead>
    <tr>
      <th>Seller</th>
      <th>Office</th>
      <th>Budget</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= empl(user) %></td>
      <td><%= user.office.name %></td>
      <% if seller_budget(user, params[:search]) == 0 %>
      <td>
        <%= simple_form_for(@budget) do |f| %>
          <% if @budget.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@budget.errors.count, "error") %> prohibited this budget from being saved:</h2>

              <ul>
              <% @budget.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
            <%= f.hidden_field :user_id, :value => user.id %>
            <% if params[:search] %>
              <%= f.hidden_field :month, :value => params[:search] %>
            <% else %>
              <%= f.hidden_field :month, :value => Time.now.strftime("%B") %>
            <% end %>
            <%= f.input_field :amount %>
          </td>
          <td>
            <%= f.submit "Add" %>
          </div>
        <% end %>
      </td>
      <% else %>
      <td><%= seller_budget(user, params[:search]) %></td>
      <td><%= link_to "Edit", edit_budget_path(seller_budget_id(user, params[:search])) %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<br />

<table>
  <thead>
    <tr>
      <th>Office</th>
      <th>Budget</th>
    </tr>
  </thead>
  <tbody>
    <% @offices.each do |office| %>
    <tr>
      <td><%= office.name %></td>
      <td><%= office_month_budget(office, params[:search]) %></td>
    </tr>
    <% end %>
  </tbody>
</table>









