<%= simple_form_for(@opportunity) do |f| %>
  <% if @opportunity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@opportunity.errors.count, "error") %> prohibited this opportunity from being saved:</h2>

      <ul>
      <% @opportunity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :client_id %>
  </div>
  <br />
  <div class="form-inputs">
    <%= f.input :user_id %>
  </div>
  <br />
  <div class="form-inputs">
    <%= f.input :software %>
  </div>
  <br />
  <div class="form-inputs">
    <%= f.input :semi %>
  </div>
  <br />
  <div class="form-inputs">
    <%= f.input :production %>
  </div>
  <br />
  <div class="form-inputs">
    <%= f.input :ads %>
  </div>
  <br />
  <div class="form-inputs">
    <%= f.input :other %>
  </div>
  <br />
  <div class="form-inputs">
    <%= f.input :closing_date %>
  </div>
  <br />
  <div class="form-inputs">
    <%= f.input :probability %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
